apiVersion: v1
kind: Pod
metadata:
  name: insecure-nginx
  namespace: default
spec:
  containers:
  - name: nginx
    image: nginx:latest
    securityContext:
      privileged: true
      allowPrivilegeEscalation: true
      runAsUser: 0
    ports:
    - containerPort: 80
